<div class="container mx-auto px-4 py-8">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-3xl font-bold">{{ note.title }} <span class="text-sm text-gray-500">#{{ note.id }}</span></h1>
  </div>
  <div class="markdown prose lg:prose-xl" id="markdown-content">
    {{ note_html|safe }}
  </div>
</div>

<script src="{{ url_for('static', filename='katex/dist/katex.min.js') }}"></script>
<script src="{{ url_for('static', filename='katex/dist/contrib/auto-render.min.js') }}"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    renderMathInElement(document.body, {
      delimiters: [
        {left: "\\(", right: "\\)", display: false},
        {left: "\\[", right: "\\]", display: true},
        {left: "$$", right: "$$", display: true},
        {left: "$", right: "$", display: false}
      ],
      throwOnError: false
    });
  });
</script>
