{% extends 'base.html' %}

{% block content %}

<script>
document.addEventListener('DOMContentLoaded', (event) => {
// Select the form element
const form = document.getElementById('content-edit-form');

document.addEventListener('keydown', (event) => {
    // Check if Ctrl (or Command on macOS) and Enter are pressed
    if ((event.ctrlKey || event.metaKey) && event.key === 'Enter') {
        event.preventDefault(); // Prevent any default action for the keys
        if (form) {
            form.submit(); // Submit the form
        }
    }
});
});
</script>

<div class="container max-w-lg px-4">
    <form id="content-edit-form" action="{{ url_for('edit_note', note_id=note.id) }}" method="POST">
        <div class="navbar bg-base-100">
            <input type="submit" class="btn btn-primary" value="Save">
        </div>
        <label class="input input-bordered flex items-center gap-2">
            <input type="text" name="title" class="grow" value="{{ note.title }}" />
        </label>
        <textarea name="content" class="font-mono textarea textarea-primary textarea-lg w-screen">{{ note.content }}</textarea>
    </form>
</div>

{% include 'markdown-content.html' %}
{% endblock %}
