<div class="h-screen bg-base-200 w-80 text-base-content p-4">
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-xl font-bold">Tags</h2>
    <a href="{{ url_for('manage_all_tags') }}" class="btn btn-sm"
      >Manage Tags</a
    >
  </div>

  <div class="divider"></div>

  {% macro render_tag_tree(node) %}
  <li>
    <details>
      <summary class="hover:bg-base-300">
        <a href="{{ url_for('tag_detail', tag_id=node.id) }}" class="flex-grow">
          {{ node.name }}
        </a>
      </summary>
      {% if node.children %}
      <ul>
        {% for child in node.children|sort(attribute='name') %} {{
        render_tag_tree(child) }} {% endfor %}
      </ul>
      {% endif %}
    </details>
  </li>
  {% endmacro %}

  <div class="overflow-y-auto h-[calc(100vh-8rem)]">
    <ul class="menu bg-base-200 w-full">
      {% for tag in tags|sort(attribute='name') %} {{ render_tag_tree(tag) }} {%
      endfor %}
    </ul>
  </div>
</div>
