<div class="dropdown dropdown-end">
  <label tabindex="0" class="btn btn-ghost btn-circle">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
         viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round"
            d="M12 3v1m0 16v1m8.66-4.66l-.71.71M5.05 6.34l-.71.71M21 12h1M2 12H1m16.95 5.66l.71.71M6.34 6.34l.71.71" />
    </svg>
  </label>
  <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52 max-h-[80vh] overflow-y-auto">
    {% include 'theme_controller.html' %}
  </ul>
</div>
