<div class="navbar bg-base-100">
  <div class="navbar-start">
    <label for="pages-drawer" class="btn btn-square btn-ghost lg:hidden">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="inline-block h-5 w-5 stroke-current"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"
        ></path>
      </svg>
    </label>
    {% include 'search_bar.html' %}
  </div>
  <div class="navbar-center hidden lg:flex">
    {% if note is defined %} {% if note.title is defined and note.title and
    note.id is defined and note.id %}
    <a
      href="{{ url_for('note_detail', note_id=note.id) }}"
      class="btn btn-ghost text-xl"
    >
      {{ note.title }} <span class="text-sm ml-2">#{{ note.id }}</span>
    </a>
    {% else %}
    <span class="btn btn-ghost text-xl">New Note</span>
    {% endif %} {% endif %}
  </div>
  <div class="navbar-end">
    <button id="theme-toggle" class="btn btn-ghost btn-circle">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 dark:hidden">
        <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.718 9.718 0 0118 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 003 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 009.002-5.998z" />
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 hidden dark:block">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" />
      </svg>
    </button>
    {% include 'right_navbar_button.html' %}
  </div>
</div>
