<div class="flex-none">
  <ul class="menu menu-horizontal px-1 flex-wrap gap-2">
    <!-- Actions Dropdown -->
    <li>
      <details class="dropdown dropdown-end">
        <summary class="btn btn-ghost btn-sm normal-case" data-theme-selector>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16m-7 6h7"
            />
          </svg>
          <!-- Actions Menu Item -->
        </summary>
        <ul
          class="dropdown-content z-[1] menu p-2 shadow-lg bg-base-200 rounded-box w-52"
        >
          {% if note %}
          <li>
            <a
              href="{{ url_for('edit_note', note_id=note.id) }}"
              class="btn btn-ghost btn-sm justify-start"
              >Edit</a
            >
          </li>
          {% endif %}
          <li>
            <a
              href="{{ url_for('create_note_page') }}"
              class="btn btn-ghost btn-sm justify-start"
              >New Page</a
            >
          </li>
          {% if note %}
          <li>
            <a
              href="{{ url_for('create_note_page', parent_id=note.id) }}"
              class="btn btn-ghost btn-sm justify-start"
              >New Subpage</a
            >
          </li>
          <li>
            <a
              href="{{ url_for('move_note', note_id=note.id) }}"
              class="btn btn-ghost btn-sm justify-start"
              >Move</a
            >
          </li>
          <li>
            <a
              href="{{ url_for('manage_tags', note_id=note.id) }}"
              class="btn btn-ghost btn-sm justify-start"
              >Assign Tags</a
            >
          </li>
          <li>
            <a
              href="#"
              class="btn btn-ghost btn-sm justify-start"
              onclick="event.preventDefault(); if (confirm('Are you sure you want to delete this note? This action cannot be undone.')) { document.getElementById('delete-note-form-{{ note.id }}').submit(); }"
            >
              Delete Note
            </a>
            <form
              id="delete-note-form-{{ note.id }}"
              action="{{ url_for('delete_note_page', note_id=note.id) }}"
              method="POST"
              class="hidden"
            >
              {% include 'csrf_token.html' %}
            </form>
          </li>
          {% endif %}
          <li>
            <a
              href="{{ url_for('recent_pages') }}"
              class="btn btn-ghost btn-sm justify-start"
              >Recent Pages</a
            >
          </li>
          <li>
            <a
              href="{{ url_for('manage_all_tags') }}"
              class="btn btn-ghost btn-sm justify-start"
              >Manage Tags</a
            >
          </li>
          <li>
            <details class="dropdown dropdown-end">
              <summary class="btn btn-ghost btn-sm justify-start">
                Assets
              </summary>
              <ul
                class="dropdown-content menu shadow-lg bg-base-200 rounded-box p-2"
              >
                <li>
                  <a
                    href="{{ url_for('upload_asset') }}"
                    class="btn btn-ghost btn-sm justify-start"
                    >Upload Asset</a
                  >
                </li>
                <li>
                  <a
                    href="{{ url_for('list_assets') }}"
                    class="btn btn-ghost btn-sm justify-start"
                    >View Assets</a
                  >
                </li>
              </ul>
            </details>
          </li>
        </ul>
      </details>
    </li>

    <!-- Tags Button -->
    <li>
      <label for="tag-drawer" class="btn btn-ghost btn-sm normal-case">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M7 7h.01M7 3h5c.512 0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828 0l-7-7A2 2 0 013 12V7a4 4 0 014-4z"
          />
        </svg>
      </label>
    </li>

    <!-- Themes Dropdown -->
    <li>
      <details class="dropdown dropdown-end">
        <summary class="btn btn-ghost btn-sm normal-case">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 0 00-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h.01"
            />
          </svg>
        </summary>
        {% include 'theme_controller.html' %}
      </details>
    </li>
  </ul>
</div>
